# Virtual env
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Build / packaging
dist/
build/
*.egg-info/
*.egg

# Logs
*.log

# Environment secrets
.env

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs
.vscode/
.idea/